.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    color: invert(inherit);
    border: 1px solid var(--black);
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    min-width: 15em;
}

input[type="radio"] {
    font-size: 0.9em;
    display: flex;
    gap: 1em;
}

.radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    text-align: center;
}

.radio-option {
    display: flex;
    flex-direction: column;
}

.validation-error {
    display: none;
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.popup-form .FormContainer::before {
    display: none;
}

.popup-form .FormContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-form .Form {
    border-radius: 1em;
}
