@import "./css/reset.css";
@import "./css/typography.css";
@import "./css/buttons.css";
@import "./css/dropdown-menu.css";

:root {
    --black: #111;
    --white: #fff;
    --lightgray: #ddd;
    --gray: #bbb;
    --darkgray: #222;
    --red: #f42525;
    --green: #9ee493;
    --blue: #1a659e;
    --yellow: #f0cf65;
}
