.Workout-form {
    color: var(--white);
    fill: var(--white);
    background-color: var(--black);
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Workout-form-header {
    border-bottom: 1px solid var(--white);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 1em;
}

.Workout-form-header-btns {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.Workout-form-body {
    background-color: var(--darkgray);
    flex: 1 0 100%;
    align-self: stretch;
    align-items: center;
    padding: 2em;
}

.exercise-sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    margin: 0 10em;
}

.exercise-set-card {
    width: 100%;
    gap: 1em;
    background-color: var(--black);
    padding: 1em 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.exercise-set-card:hover {
    transform: scale(1.02);
}

.Sets-and-reps {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.set-info {
    display: flex;
    align-items: center;
    gap: 2em;
}

@media screen and (max-width: 900px) {
    .exercise-sets {
        margin: 2em;
    }
}
