.App-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    z-index: 5;
    gap: 1em;
}

.App-logo {
    display: flex;
    align-items: center;
    gap: 0.1em;
    font-weight: bold;
    font-size: 2em;
}

.App-header nav {
    display: flex;
    gap: 1em;
    flex: 1 1 auto;
}

.App-header nav a {
    padding: 0.1em 0.2em;
}

.App-header nav a:hover {
    background-color: var(--black);
    color: var(--white);
}

.Auth-btns {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .App-header {
        flex-direction: column;
        padding: 1em;
    }

    .App-header nav {
        gap: 0.5em;
    }

    .Auth-btns {
        gap: 0.5em;
    }
}
