.FormContainer {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.Form {
    flex: 1 0 auto;
    width: 25vw;
    margin: auto;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 5em;
}

.Form label:not(.validation-error) {
    display: block;
}

.FormContainer img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.FormContainer::before {
    position: absolute;
    content: "";
    background-color: var(--black);
    inset: 0;
    z-index: -1;
    opacity: 50%;
    height: 100%;
}

.form-btns {
    display: flex;
    gap: 0.5em;
}
