.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.red {
    color: var(--red);
}

.gray {
    color: var(--gray);
}

.Back {
    background-color: var(--blue) !important;
}
.Back-fill {
    fill: var(--blue);
}
.Back-col {
    color: var(--blue);
}

.Biceps {
    background-color: var(--green) !important;
}
.Biceps-fill {
    fill: var(--green);
}
.Biceps-col {
    color: var(--green);
}

.Chest {
    background-color: var(--red) !important;
}
.Chest-fill {
    fill: var(--red);
}
.Chest-col {
    color: var(--red);
}

.Shoulders {
    background-color: var(--yellow) !important;
}
.Shoulders-fill {
    fill: var(--yellow);
}
.Shoulders-col {
    color: var(--yellow);
}

.Core {
    background-color: var(--pink) !important;
}
.Core-fill {
    fill: var(--pink);
}
.Core-col {
    color: var(--pink);
}

.Triceps {
    background-color: var(--orange) !important;
}
.Triceps-fill {
    fill: var(--orange);
}
.Triceps-col {
    color: var(--orange);
}
